body {
    background: url("../images/train.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Headland One', serif;

}


.container {
    height: auto;
    width: 100%;
}
.jumbotron {
    background-color: #eeba30;
    opacity: 0.9;
    
}

.panel {
     opacity: 0.9;
}
.bg {
    background-color: #ae0001;
    color: #d3a625;
    padding: 10px;
}


h1 {
    color: #740001;
}
h3 {
    color: #000;
    font-style: normal;
    font-size: large;
}
.h4 {
    color: black;
    font-weight: bold;
    font-size: large;
    padding: 5px;
}
.button {
    background-color: #ae0001;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

#newTrainBtn {
    background-color:#ae0001;
    color: white;
    border: none;
}
